{% load static %}
<!-- header -->
<header>
    <!-- header inner -->
    <div class="header">

        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a href="index.html"><img class="my-thumbnail" src='{% static "images/my-logo.png" %}'
                                        alt="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9" style="display: flex;align-items: center;">
                    <div class="location_icon_bottum_tt">
                        <ul>
                            <li><img src='{% static "icon/loc1.png" %}' />Mumbai</li>
                            <li><img src='{% static "icon/email1.png" %}' />spit.ac@gmail.com</li>

                            <li><img src='{% static "icon/call1.png" %}' />(+91)7977504421</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 location_icon_bottum">
                    <div class="row">
                        <div class="col-md-8 ">
                            <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu">
                                        <ul class="menu-area-main">
                                            <li class="active"> <a href="/">Home</a> </li>
                                            <li> <a href="http://127.0.0.1:8000/crop">Crop</a> </li>
                                            <li><a href="http://127.0.0.1:8000/fertilizer">Fertilizer</a></li>
                                            <li><a href="http://127.0.0.1:8000/plant">Plant Disease</a></li>
                                            <li><a href="http://127.0.0.1:8000/blogs">Blogs</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                            <form class="search">
                                <input class="form-control" type="text" placeholder="Search">
                                <button><img src='{% static "images/search_icon.png" %}'></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header inner -->
</header>
<!-- end header -->